<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="../css/about.css">
</head>

<body>
    <header>
        <nav id="_navbar">
            <ul>
                <li><a id="_home" href="/">Home</a></li>
                <li><a id="_services" href="/services">Services</a></li>
                <li><a id="_contact" href="/contact">Contact</a></li>
                <li><a id="_about" href="/about">About</a></li>
            </ul>

            <form id="_search" action="https://www.google.com/search">
                <input id="_search_bar" type="text" placeholder="search" name="search">
                <input id="_search_button" type="submit" value="search">
            </form>

        </nav>

    </header>

    <div id="_container2">
        <div id="_heading">
            <h1>About Us</h1>
        </div>
        <div id="_data">
            <p>At [Freelancing Website], we believe that work should be flexible, fulfilling, and empowering. Our
                platform connects skilled freelancers with businesses and individuals who need their services, making it
                easy for everyone to find the work or talent they need.
                <br>
                <br>
                We started [Freelancing Website] because we saw firsthand how difficult it can be for freelancers to
                find work and for businesses to find the right talent. We wanted to create a platform that made it easy
                for both sides to connect and work together, without the hassle and expense of traditional staffing
                agencies or job boards.
                <br>
                <br>
                Our mission is to empower freelancers to build successful and rewarding careers, and to help businesses
                find the talent they need to grow and thrive. We believe that freelancing is the future of work, and
                that our platform can help make it more accessible and sustainable for everyone.
                <br>
                <br>
                We're proud to have built a platform that has helped thousands of freelancers and businesses connect and
                work together. Our team is made up of experienced freelancers, entrepreneurs, and technologists who are
                passionate about creating a better future of work. We're constantly working to improve our platform and
                provide the best possible experience for our users.
                <br>
                <br>
                Thank you for choosing [Freelancing Website] as your platform for freelancing or hiring freelancers. We
                look forward to helping you succeed!
            </p>
        </div>
    </div>

</body>

</html>