<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="../css/contact.css">
</head>

<body>
    <header>
        <nav id="_navbar">
            <ul>
                <li><a id="_home" href="/">Home</a></li>
                <li><a id="_services" href="/services">Services</a></li>
                <li><a id="_contact" href="/contact">Contact</a></li>
                <li><a id="_about" href="/about">About</a></li>
            </ul>

            <form id="_search" method="get" action="https://www.google.com/search">
                <input id="_search_bar" type="text" placeholder="search" name="search">
                <input id="_search_button" type="submit" value="search">
            </form>

        </nav>

    </header>


    <div id="_container2">
        <div id="_heading">
            <h1>Contact</h1>
        </div>
        <div class="box">
            <h1>
                Email:
            </h1>
            <a href="https://gmail.com/">
            <p id="_developerEmailId">sagarjadhav54467@gmail.com</p></a>
            <h4>You can conatact us with this email...</h4>
        </div>
        <div class="box">
            <h1>
                Info
            </h1>
            <p id="_info">
               A freelancing website is an online platform that connects businesses and individuals
Freelancers can create profiles and showcase their skills and portfolio
clients can search for and hire the right freelancer for their project.

            </p>
        </div>
        <div class="box">
            <h1>Feedback</h1>
            <form action="#" id="_feedback">
                <input type="text" placeholder="email id" name="email">
                <textarea maxlength="20" minlength="5" name="feedback" id="feedback" cols="30" rows="10" placeholder="feedback">
                </textarea>
                <input type="submit" name="submit">
            </form>
        </div>
    </div>

</body>

</html>