<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="../css/services.css">
</head>

<body>
    <header>
        <nav id="_navbar">
            <ul>
                <li><a id="_home" href="/">Home</a></li>
                <li><a id="_services" href="#">Services</a></li>
                <li><a id="_contact" href="/contact">Contact</a></li>
                <li><a id="_about" href="/about">About</a></li>
            </ul>

            <form id="_search" action="https://www.google.com/search">
                <input id="_search_bar" type="text" placeholder="search" name="search">
                <input id="_search_button" type="submit" value="search">
            </form>

        </nav>

    </header>
    <div id="_heading">
        <div id="_head">
            <h1>Services</h1>
        </div>
        <div id="_data">
            <p>
                At [Freelancing Website], we offer a wide range of services to help freelancers and businesses succeed.
                Whether you're a freelancer looking for work or a business looking for talent, we have the tools and
                resources you need to succeed.
<br><br>
                For Freelancers:
<br><br>
                Job Search: Our platform allows you to search for freelance jobs across a range of industries and skill
                sets. With thousands of jobs posted every day, you're sure to find work that matches your skills and
                experience.
<br><br>
                Profile Creation: Create a professional profile that showcases your skills, experience, and portfolio.
                Your profile is your chance to make a great first impression and attract potential clients.
<br><br>
                Proposal Submission: Once you find a job that matches your skills, you can submit a proposal to the
                client outlining your experience and qualifications. This is your chance to demonstrate why you're the
                best candidate for the job.
            </p>
        </div>
    </div>
</body>

</html>